<h1><%= accurate_title %></h1>

<div class="account-my-orders">

  <h3><%= Spree.t(:my_gtpay_transactions) %></h3>
  <% if @transactions.present? %>
    <table class="table table-striped">
      <thead class="active">
      <tr>
        <th>Payment Service</th>
        <th>Transaction Status</th>
        <th>Transaction Number</th>
        <th><%= Spree.t(:approved_amount) %></th>
        <th>Response(Code:Description)</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td data-title="Payment">Gtbank Online Payment</td>
          <td data-title="Trans. Status"><%= transaction.status.try(:capitalize) %></td>
          <td data-title="Trans. No."><%= transaction.gtpay_tranx_id %></td>
          <td data-title="Approved"><%= Spree::Money.new(transaction.gtpay_tranx_amount) if transaction.order.present? %></td>
          <% if transaction.gtpay_tranx_status_code? && transaction.gtpay_tranx_status_msg? %>
            <td data-title="Response">ApprovalCode:<%= transaction.gtpay_tranx_status_code %><br/ > Description:<%= transaction.gtpay_tranx_status_msg %></td>
          <% else %>
            <td data-title="Response">No Response</td>
          <% end %>
          <td data-title="Date"><%= transaction.created_at.strftime("%d %b %Y, %I:%M%p") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info"><%= Spree.t(:you_have_no_gtpay_transactions_yet) %></div>
  <% end %>
  <br />

</div>
